* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Lato";
  font-weight: 400;
}

h2.section-heading {
  text-align: center;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 45px;
  color: #1e1e1e;
  margin-bottom: 75px;
}
